.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 70px;

  grid-column-gap: 1em;
  grid-row-gap: 0.5rem;
}

.grid-symbols {
  grid-column-start:1;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:1;
  grid-column-gap: 1px;
 
  display: grid;
  grid-template-columns: auto auto auto auto; 
  width: 50%;
}
.grid-numbers {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end:5;

  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  grid-column-gap: 1px;
}



.equal-symbol {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end:4;
  display: grid;
  width: 50%;
}
.grid-clear {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:4;
  grid-row-end:5;
  width: 50%; 
  display: grid;
}
.grid-result {
  border: 1px blue solid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:5;
  grid-row-end:5;
  display: grid;
  width: 50%; 
}

